/*-----------------------------------------------------------------------------------------------*/

body
{
  background-color:     #dbdbdb;
}

input[type=checkbox]
{
  margin-top:           -3px;
  vertical-align:       middle;
  cursor:               pointer;
}

input[type=radio]
{
  margin-top:           -3.5px;
  vertical-align:       middle;
  cursor:               pointer
}

td
{
  border-collapse:      collapse;
  vertical-align:       middle;
}

.navigation
{
  color:                #fcfcfc;
}

.info
{
  column-count:         2;
  color:                #fcfcfc;
  text-align:           justify;
}

.table th
{
  border-top:           none;
  cursor:               default;
}

.alert
{
  margin-top:           .5rem;
  margin-bottom:        .5rem;
}

.stats_table
{
  border:               none;
  font-size:            small;
}

.stats_hand_qualifier
{
  width:                47%;
  min-width:            126px;
}

.stats_hand_percent
{
  width:                35px;
  text-align:           right;
}

.stats_hand_meter
{
  font-size:            small;
}

.subqualifier
{
  font-size:            smaller;
}

.playingcard
{
  cursor:               pointer;
  background-color:     #ffffff;
  font-family:          sans-serif;
  overflow:             hidden;
}

.playingcard:hover
{
  background-color:     #e2e6ea;
}

.playingcard.inplay
{
  box-shadow:           0 0 5px #00bfff;
}

.playingcard.selected
{
  cursor:               default;
  background-color:     grey
}

.pageheader
{
  color:                #ffffff;
  font-family:          sans-serif;
  font-variant:         small-caps;
}

.analysisview
{
  background-color:     #fcfcfc;
  position:             relative;
}

.board_viewer
{
  min-width:            280px;
}

.statistics_viewer
{
  max-width:            360px;
  min-width:            202px;
}

.player
{
  background-color:     #fcfcfc;
  min-width:            460px;
}

.player-placeholder
{
  height:               629px;
}

.range_table
{
  border-collapse:      collapse;
  border-spacing:       0;
}

.range_cell
{
  width:                34px;
  height:               34px;
  text-align:           center;
  font-size:            .75em;
  cursor:               pointer;
  border-style:         solid;
  border-width:         1px;
  margin:               1px;
}

.suited
{
  background-color:     #f7eefa; /* 18.57 */
  border-color:         #aaaaaa;
  font-family:          monospace;
  font-weight:          bold;
}

.offsuit
{
  background-color:     #e7f6e7; /* 18.73 */
  border-color:         #aaaaaa;
  font-family:          monospace;
  font-weight:          bold;
}

.pocketpair
{

  background-color:     #dae2f4; /* 16.17 */
  border-color:         #aaaaaa;
  font-family:          monospace;
  font-weight:          bold;
}

.range_cell.suited.selected
{
  background-color:     #ffdd99; /* 16.05 */ /* ranges.js: linear-gradient(to right, #ffdd99 ${r}%, #fdf1d9 ${r}%) */
  border-color:         #aaaaaa;
  font-family:          monospace;
  font-weight:          bold;
}

.range_cell.offsuit.selected
{
  background-color:     #ffdd99; /* 16.05 */
  border-color:         #aaaaaa;
  font-family:          monospace;
  font-weight:          bold;
}

.range_cell.pocketpair.selected
{
  background-color:     #ffdd99; /* 16.05 */
  border-color:         #aaaaaa;
  font-family:          monospace;
  font-weight:          bold;
}

.suited.selected.club,
.suited.selected.diamond,
.suited.selected.heart,
.suited.selected.spade
{
  background:           linear-gradient(to right,#aaaaaa 25%,#fdf7ff 25%);
  border-color:         #aaaaaa !important
}

.offsuit.selected.club,
.offsuit.selected.diamond,
.offsuit.selected.heart,
.offsuit.selected.spade
{
  background:           linear-gradient(to right,#aaaaaa 50%,#f5fdf6 50%);
  border-color:         #aaaaaa !important
}

.pocketpair.selected.club,
.pocketpair.selected.diamond,
.pocketpair.selected.heart,
.pocketpair.selected.spade
{
  background:           linear-gradient(to right,#aaaaaa 50%,#ebedfd 50%);
  border-color:         #aaaaaa !important
}

.subset.selected
{
  border-color:         #aaaaaa !important
}

.selected.club:before,
.selected.diamond:before,
.selected.heart:before,
.selected.spade:before
{
  position:             absolute;
  top:                  -4px;
  left:                 22px;
  font-size:            .9rem;
  pointer-events:none
}

.selected.spade:before
{
  color:                #000;
  content:              '♠';
}

.selected.heart:before
{
  color:                red;
  content:              '♥';
}

.selected.club:before
{
  color:                #000;
  content:              '♣';
}

.selected.diamond:before
{
  color:                red;
  content:              '♦';
}

.popover
{
  max-width:            100%;
  background-color:     #f5f5f5;
}

button.showbutton.collapsed:before
{
  content:              '(show)';
}

button.showbutton:before
{
  content:              '(hide)';
}

@media (max-width:500px)
{
  .player-placeholder
  {
    height:             698px;
  }

  .player
  {
    min-width:          100%;
  }

  .range_table
  {
    position:         absolute;
    left:             0;
    right:            0;
    width:            100%;
  }

  .range_cell
  {
    font-size:        2.3vw;
    width:            7.7vw;
    height:           7.7vw;
  }

  .range_loader
  {
    padding-top:      103vw;
    margin-left:      0 !important;
    margin-right:     0 !important;
  }

  .info
  {
    column-count:     1;
  }
}

.irs--round
{
  height:             40px
}

.irs--round .irs-bar
{
  top:                18px;
  height:             4px;
  background-color:   #007bff;
}

.irs--round .irs-line
{
  top:                18px;
  height:             4px;
  background-color:   #dee2e6;
  border-radius:      4px;
}

.irs--round .irs-handle
{
  top:                8px;
  width:              24px;
  height:             24px;
  border:             4px solid #007bff;
  background-color:   #ffffff;
  border-radius:      24px;
  box-shadow:         0 1px 3px rgba(0,0,255,.3);
  cursor:             pointer;
}

/*-----------------------------------------------------------------------------------------------*/
