/*-----------------------------------------------------------------------------------------------*/

.clFloor
{
  display:              flex;
  justify-content:      center;
}

.clPokerTable
{
  background-color:     #0d6f3a;
  border-radius:        0.400rem;
  box-sizing:           border-box;
  display:              inline-block;
  display:              flex;
  justify-content:      center;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.600rem 0.600rem 0.200rem 0.600rem;
  width:                100%;
}

/*
.clPokerTable img
{
  width: 16%;
}
*/

.clCard
{
  width:                6.000rem;
  width:                16%
}

/*
#idCard2
{
  margin-right:         0.000rem;
}
*/

/*-----------------------------------------------------------------------------------------------*/
