/*-----------------------------------------------------------------------------------------------*/

.clFloor
{
  display:              flex;
  justify-content:      center;
}

.clPokerTable
{
  background-color:     #0d6f3a;
  border-radius:        0.800rem;
  box-sizing:           border-box;
  display:              inline-block;
  justify-content:      center;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.800rem 0.800rem 0.200rem 0.800rem;
}

.clCard
{
  width:                6.000rem;
}

#idCard2
{
  margin-right:         0.500rem;
}


/*-----------------------------------------------------------------------------------------------*/
