/*
h1 { color: #1f7f1f; font-size: 1.300rem; font-weight: 600; } / * 5.02 * /
h2 { color: #3a6bcf; font-size: 1.200rem; font-weight: 600; } / * 5.10 * /
h3 { color: #a848a8; font-size: 1.120rem; font-weight: 600; } / * 5.05 * /
h4 { color: #1e7b7b; font-size: 1.080rem; font-weight: 600; } / * 5.03 * /
h5 { color: #5a791b; font-size: 1.040rem; font-weight: 600; } / * 5.02 * /
h6 { color: #b45050; font-size: 1.000rem; font-weight: 600; } / * 5.00 * /
*/

.f
{
  color:                #555555;
  font-size:            0.800rem;
}
