/*---------------------------------------------------------------------------*/

.clImageLarge
{
  height:               auto !important;
  width:                100%  !important;
  margin:               0.500rem 0.000rem 0.500rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clImageSmall
{
  height:               auto !important;
  width:                30%  !important;
  margin:               0.500rem 0.000rem 0.500rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clImageLarge:fullscreen,
.clImageSmall:fullscreen
{
  object-fit:           contain;
  background-color:     black;
}

/*---------------------------------------------------------------------------*/
