.clImageThumb
{
  height:               auto !important;
  width:                20%  !important;
  margin:               0.500rem 0.000rem 0.500rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}
