/*-----------------------------------------------------------------------------------------------*/

.clFloor
{
  display:              flex;
  justify-content:      center;
}

#idCard0,
#idCard1
{
  margin-left:          0.100rem;
  margin-right:         0.100rem;
}

.clWinRate
{
  border-radius:        0.200rem;
  display:              flex;
  justify-content:      center;

  font-family:          monospace;
  font-size:            2.000rem;

  margin:               2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

#idWinRate
{
  color:                light-dark(#cc0000, #cc0000);
  background-color:     light-dark(#ffffff, #e0e0e0);
  border:               1px solid #888888;
  border-radius:        0.400rem;
  margin:               0.000rem 0.000rem 2.000rem 0.000rem;
  padding:              0.800rem 0.600rem 1.000rem 0.600rem;
  text-align:           center;
  width:                3.000rem !important;
}

.clCount
{
  color:                light-dark(#aaaaaa, #555555);
  display:              flex;
  justify-content:      center;
  font-family:          monospace;
  font-size:            1.000rem;
  margin:               0.000rem 0.000rem 1.600rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clCard
{
  width:                16%;
}

/*-----------------------------------------------------------------------------------------------*/
