/*-----------------------------------------------------------------------------------------------*/

.clIndex
{
  display:              inline-block !important;
  font-family:          monospace;
  margin:               0.000rem 0.000rem 2.000rem 0.000rem !important;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem !important;
  text-align:           left !important;
}

#idContent
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              3.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           center;
}

#idFloor
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           center;

  display:              flex;
  flex-direction:       row;
  justify-content:      center;
  flex-wrap:            wrap;
  gap:                  1.000rem;
}

/*-----------------------------------------------------------------------------------------------*/

#idQuestion
{
  color:                #995f46;
  font-family:          monospace;
  font-size:            2.000rem;
  margin:               2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

#idAnswer
{
  background:           #e0e0e0;
  border:               1px solid #aaaaaa;
  border-radius:        0.400rem !important;
  color:                #e0e0e0;
  display:              inline-block;
  font-family:          monospace;
  font-size:            3.000rem;
  margin:               2.000rem 0.000rem 2.000rem 0.000rem;
  padding:              2.000rem 0.000rem 2.000rem 0.000rem;
  width:                8.000rem !important;
}

h6
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

/*-----------------------------------------------------------------------------------------------*/
/* Proto                                                                                         */
/*-----------------------------------------------------------------------------------------------*/

.clTable-01,
.clTable-02
{
  display:              flex;
  flex-direction:       column;
  align-items:          center;
  justify-content:      center;
  margin:               2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clPokerTable
{
  background-color:     #0d6f3a;
  border-radius:        0.400rem;
  box-sizing:           border-box;
  display:              flex;
  justify-content:      center;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.800rem 0.600rem 0.740rem 0.600rem;
}

.clCard
{
  width:               4.000rem;
}

#idCard0,
#idCard1,
#idCard2,
#idCard3,
#idCard4,
#idCard5
{
  margin-left:          0.100rem;
  margin-right:         0.100rem;
}

/*-----------------------------------------------------------------------------------------------*/
