/*-----------------------------------------------------------------------------------------------*/

.clIndex
{
  display:              inline-block !important;
  font-family:          monospace;
  margin:               0.000rem 0.000rem 2.000rem 0.000rem !important;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem !important;
  text-align:           left !important;
}

#idContent
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              3.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           center;
}

h6
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

#idTable
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 2.000rem 0.000rem;
  text-align:           center;
  display:              flex;
  flex-direction:       row;
  justify-content:      center;
  flex-wrap:            wrap;
  gap:                  0.600rem;
}

.clPanel1,
.clPanel2
{
  display:              flex;
  flex-direction:       column;
  align-items:          center;
  justify-content:      center;
  margin:               2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clBoard
{
/*
  background-color:     #0d6f3a;
  border-radius:        0.200rem;
*/
  box-sizing:           border-box;
  display:              flex;
  justify-content:      center;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
/*
  padding:              0.090rem 0.060rem 0.100rem 0.060rem;
*/
}

.clCard
{
  width:                4.800rem;
}

#idCard1,
#idCard2,
#idCard3,
#idCard4
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.200rem 0.000rem 0.200rem;
}

#idNameP,
#idNameS,
#idNameO
{
  color:                #995f46;
  font-family:          monospace;
  font-size:            1.600rem;
  margin:               1.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

#idWinRateP,
#idWinRateS,
#idWinRateO
{
  background:           #e0e0e0;
  border:               1px solid #aaaaaa;
  border-radius:        0.400rem !important;
  color:                #e0e0e0;
  display:              inline-block;
  font-family:          monospace;
  font-size:            2.000rem;
  margin:               1.000rem 0.000rem 1.000rem 0.000rem;
  padding:              1.000rem 0.000rem 1.000rem 0.000rem;
  width:                4.000rem !important;
}

/*-----------------------------------------------------------------------------------------------*/
