/*-----------------------------------------------------------------------------------------------*/

.clFloor
{
  display:              flex;
  justify-content:      center;
}

#idCard0,
#idCard1
{
  margin-left:          0.100rem;
  margin-right:         0.100rem;
}

.clWinrate
{
  border-radius:        0.200rem;
  display:              flex;
  justify-content:      center;

  font-family:          monospace;
  font-size:            2.000rem;

  margin:               2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

#idWinrate
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              2.000rem 2.000rem 2.000rem 2.000rem;
  width:                4.000rem !important;
}

.clCount
{
  display:              flex;
  justify-content:      center;
  font-family:          monospace;
  font-size:            1.000rem;
  margin:               2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clCard
{
  width:                16%;
}



/*-----------------------------------------------------------------------------------------------*/
