/*-----------------------------------------------------------------------------------------------*/

.clIndex
{
  display:              inline-block !important;
  font-family:          monospace;
  margin:               0.000rem 0.000rem 2.000rem 0.000rem !important;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem !important;
  text-align:           left !important;
}

#idContent
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              3.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           center;
}

/*-----------------------------------------------------------------------------------------------*/

#idQuestion
{
  color:                #995f46;
  font-family:          monospace;
  font-size:            4.000rem;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              6.000rem 0.000rem 0.000rem 0.000rem;
}

#idAnswer
{
  background:           #e0e0e0;
  border:               1px solid #aaaaaa;
  border-radius:        0.400rem !important;
  color:                #e0e0e0;
  display:              inline-block;
  font-family:          monospace;
  font-size:            3.000rem;
  margin:               6.000rem 0.000rem 6.000rem 0.000rem;
  padding:              2.000rem 0.000rem 2.000rem 0.000rem;
  width:                18.000rem !important;
}

h6
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

/*-----------------------------------------------------------------------------------------------*/
