/*
h1
{
  color:                #000000;
  margin:               1.000em 0.000em 1.500em 0.000em;
  padding:              0.000em 0.000em 0.000em 0.000em;
}
*/

.t1, .t2, .t3, .t4, .t5
{
  font-size:            2.000em !important;
}

.clPinyin
{
  color:                #555555;
  font-size:            1.000em !important;
  font-weight:          normal;
  line-height:          1.000em;
  margin:               1.000em 0.000em 1.000em 0.000em;
  padding:              0.000em 0.000em 0.000em 0.000em;
}

.clTranslation
{
  color:                #000000;
  font-size:            1.000em;
  margin:               0.000em 0.000em 0.000em 0.000em;
  padding:              0.000em 0.000em 0.000em 0.000em;
}
