/*-----------------------------------------------------------------------------------------------*/

.clFloor
{
  display:              flex;
  justify-content:      center;
}

.clCard
{
  width:                16%;
}

#idCard0,
#idCard1,
#idCard2
{
  margin-left:          0.100rem;
  margin-right:         0.100rem;
}

.clTexture
{
  background-color:     inherit;
  color:                inherit;
  margin:               0.000rem 0.000rem 0.000rem 1.000rem;
}

.clCategories
{
  margin:               0.000rem 0.000rem 0.000rem 2.000rem;
}

h3
{
  margin:               1.000rem 0.000rem 0.000rem -1.000rem;
}

.clStrategy
{
  background-color:     inherit;
  color:                inherit;
  margin:               0.000rem 0.000rem 0.000rem 1.000rem;
}

/*-----------------------------------------------------------------------------------------------*/
