sub
{
  color:                #888888;
  font-size:            60%;
  font-style:           normal;
  margin:               0.000rem 0.000rem 0.000rem 0.600rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.tr
{
  margin:               0.000rem 0.000rem 0.000rem 1.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.gr
{
  color:                #888888;
  font-size:            80%;
  font-style:           normal;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.n
{
  color:                #aaaaaa;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}
