/*--------------------------------------------------------------------------------------------------*/

#idContent
{
  text-align:           center;
}

/*--------------------------------------------------------------------------------------------------*/
/*  Index                                                                                           */
/*--------------------------------------------------------------------------------------------------*/

.clIndexCell
{
  margin:               0.000rem 0.750rem 0.000rem 0.750rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  position:             relative;
}

.clIndexZh
{
  font-size:            1.700rem;
  font-style:           normal;
  font-weight:          normal;
  line-height:          3.000rem;
  text-align:           left;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem ;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clIndexNo
{
  color:                #888888;
  font-size:            0.625rem;
  position:             absolute;
  top:                 -0.950rem;
  left:                 1.900rem;
  text-align:           left;
}

.clIndexPinyin
{
  color:                #555555;
  font-size:            0.700rem;
  font-weight:          normal;
  position:             absolute;
  top:                  1.000rem;
  left:                 0.000rem;
  text-align:           left;
}

.clIndexRadNo
{
  color:                #ff0000;
  font-size:            0.625rem;
  position:             absolute;
  top:                  0.200rem;
  left:                 1.900rem;
  text-align:           left;
}

/*--------------------------------------------------------------------------------------------------*/
