/*--------------------------------------------------------------------------------------------------*/

.clLine
{
  color:                #555555;
  margin:               0.000em 0.000em 0.500em 1.375em;
  padding:              0.000em 0.000em 0.000em 0.000em;
  text-indent:          -1.375em ;
}

.clChar
{
  color:                #0078B3;
  font-family:          monospace;
  font-size:            1.125em;
  margin:               0.000em 0.750em 0.000em 0.000em;
  padding:              0.000em 0.000em 0.000em 0.000em;
}

/*--------------------------------------------------------------------------------------------------*/
