/*--------------------------------------------------------------------------------------------------*/

table, th, td
{
  border:               none;
}


#idTopbar
{
  width:                100.00%;
}

#idPanel,
#idTopbarNavigation
{
  width:                100.00% !important;
}

#idPanelConj
{
  max-height:           999999px;
  margin:               0.500rem auto 0.500rem auto;
  padding:              0.000rem 0.000rem 1.000rem 0.000rem;
  text-align:           center;
  width:                45.000rem;
}

#idTopbarConj
{
  clear:                both;
  position:             fixed;
  top:                  0px;
  left:                 0px;
  right:                0px;
  height:               0px;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           center;
  width:                100.00%;
  z-index:              100;
}

#idTopbarNavigationConj
{
/*
  border:               1px solid #eeeeee;
*/
  color:                #000000;
  background-color:     #eeeeee;
  display:              inline-block;
  font-size:            1.000rem;
  font-style:           normal;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.500rem 0.500rem 0.500rem 0.500rem;
  text-align:           left;
  width:                45.000rem;
}

/*--------------------------------------------------------------------------------------------------*/

.clOverflow
{
  margin:              -2.000rem 0.000rem 0.000rem 0.000rem;
}

/*--------------------------------------------------------------------------------------------------*/

#idText
{
  padding-bottom:       2.000rem !important;
}

/*--------------------------------------------------------------------------------------------------*/

.clPanelTop
{
  border:               0.000rem solid #555555;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                100%;
}

.clPanelBottom
{
  margin:              -2.500rem -0.250rem 0.000rem -0.250rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                100%;
}

.clPanelLeft
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                50%;
}

.clPanelRight
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                50%;
}

.clPanelQuarter
{
  width:                25%;
}

/*--------------------------------------------------------------------------------------------------*/

.clTabGroup
{
  width:                100%;
  border:               0.000rem solid #555555;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.313em 0.250rem 0.313em;
}

.clGroup
{
  color:                #555555;
  background-color:     #ffffff;
  font-size:            1.000rem;
  font-style:           normal;
  font-variant:         small-caps;
  font-weight:          normal;

  margin-bottom:        -0.250rem;
  margin-left:          4.000rem;
  text-align:           left;
  text-transform:       lowercase;
}

.clTimes
{
  color:                #555555;
  background-color:     #ffffff;
  font-size:            1.000rem;
  font-style:           oblique;

  margin-top:           0.250rem;
  margin-left:          2.000rem;
  text-align:           left;
  text-transform:       lowercase;
}

/*--------------------------------------------------------------------------------------------------*/

.clDefinition
{
  color:                #000000;
  font-size:            1.000rem;
  line-height:          1.500rem;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 3.000rem 0.000rem;
}

.clConj
{
  color:                #000000;
  font-size:            1.000rem;
  line-height:          0.900rem;
}

.clFormConj
{
  color:                #aa0000;
  font-size:            1.000rem;
  line-height:          0.700rem;
}

.clVerbName
{
  color:                #000000;
  font-size:            1.000rem;
  font-weight:          bold;
  font-variant:         small-caps;
}

.clVerbGroup
{
  color:                #555555;
  font-size:            1.000rem;
  margin-left:          2.000rem;
  text-align:           left;
}

/*--------------------------------------------------------------------------------------------------*/

td.clIndexList
{
  border-top:           0.000rem solid #333333;
  border-left:          0.000rem solid #333333;
  font-size:            1.000rem;
  line-height:          1.250rem;
  padding:              0.000rem 0.625em 0.000rem 0.625em;
  text-align:           center;
  vertical-align:       top;
}

.clTableIndex a,
.clTableIndex a:visited
{
  color:                #aa0000 !important;
  text-decoration:      none;
}

.clTableIndex a:hover
{
  color:                #ff0000 !important;
  text-decoration:      none;
}

/*--------------------------------------------------------------------------------------------------*/

.clIndexFr
{
  border-top:           0.000rem solid #333333;
  border-left:          0.000rem solid #333333;
  font-size:            1.000rem;
  line-height:          1.12500rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           left;
  vertical-align:       middle;
}

.clIndexRu
{
  border-top:           0.000rem solid #333333;
  border-left:          0.000rem solid #333333;
  color:                #555555;
  font-size:            1.000rem;
  line-height:          1.500rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           left;
/*
  vertical-align:       middle;
*/
  vertical-align:       20%
}

.clIndexConj
{
  border-top:           0.000rem solid #333333;
  border-left:          0.000rem solid #333333;
  color:                #555555;
  font-size:            60%;
  padding:              0.000rem 0.500rem 0.000rem 0.1250rem;
  text-align:           left;
  vertical-align:      -20%
}

.clIndexAlpha
{
/*  color:              #aaaaaa; */
  float:                left;
  font-size:            1.000rem;
  margin:               0.000rem 0.000rem 0.625em 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                10.500rem;
}

/*--------------------------------------------------------------------------------------------------*/

h3
{
  color:                #880000;
  font-size:            1.250rem;
  font-variant:         small-caps;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

/*--------------------------------------------------------------------------------------------------*/
