/*----------------------------------------------------------------------------*/

.clNoBorder th,
.clNoBorder td
{
  margin:               1.000rem 0.000rem  1.000rem 0.000rem;
  padding:              0.500rem 0.500rem  0.500rem 0.500rem;
}

div.m
{
  font-size:            1.100rem;
  margin:               1.600rem 0.000rem  0.600rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}


h3
{
  font-size:            1.000rem;
  margin:               0.600rem 0.000rem  0.400rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

/*----------------------------------------------------------------------------*/
