.clFloor
{
  display:              flex;
  justify-content:      center;
}

.clCard
{
  width:                20%;
}

#idCard0,
#idCard1,
#idCard2,
#idCard3,
#idCard4,
#idCard5
{
  margin-left:          0.100rem;
  margin-right:         0.100rem;
}
