.clNavTopPtag
{
  margin:               0.000rem 0.000rem  2.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

h3
{
  color:                #aa0000 !important;
  font-size:            1.200rem;
  margin:               2.000rem 0.000rem  1.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

.l
{
  color:                #003399;
  font-size:            85%;
  font-weight:          bold !important;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           right;
  vertical-align:       top;
  width:                1.000rem;
  max-width:            1.000rem;
}

p
{
  margin:               0.000rem 0.000rem  1.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

.clNavTopPtag
{
  margin:               0.000rem 0.000rem  2.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

h3
{
  color:                #aa0000 !important;
  font-size:            1.200rem;
  margin:               2.000rem 0.000rem  1.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

.dpb
{
  margin:               0.000rem 0.500rem  0.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}
