/*-----------------------------------------------------------------------------------------------*/

html
{
  font-size:            1.000rem;
  box-sizing:           border-box;
}

*,
*:before,
*:after
{
  box-sizing:           inherit;
}

/*-----------------------------------------------------------------------------------------------*/

@media screen and (min-width: 48rem)
{
  html
  {
    font-size:          1.000rem;
  }
}

@media screen and (min-width: 79rem)
{
  #idPanel,
  #idTopbarNavigation
  {
    width:              60%;    /* Or whatever fixed width you prefer on desktop */
    margin:             0 auto; /* Centers the panel */
  }
}

@media screen and (max-width: 79rem) and (orientation: landscape)
{
  #idPanel,
  #idTopbarNavigation
  {
    width:              60% !important; /* Prevent full width when phone is sideways */
    margin:             0 auto;
  }
}

/*-----------------------------------------------------------------------------------------------*/
