/* --------- */
/* Variables */
/* --------- */
:root {
  /* colors */
  --orange: #ff6600;

  /* fonts*/
  --font-lmab: sans-serif;
  --font-serif: serif;
  --font-sans: sans-serif;
  --font-sans-mono: monospace;
  --font-mono-bitcoin: monospace;
}

/* --------- */
/* Utilities */
/* --------- */
/* general */
.bold {font-weight: bold;}
.italic {font-style: italic;}
.monospace {font-family: var(--font-sans-mono);}

/* colors */
.green {color:green}
.blue {color:blue}
.red {color:red}
.orange {color:#ff7519}
.grey {color:#666666}

/* tachyons (custom) */
.pre-wrap {white-space: pre-wrap;}
.break-word {word-wrap: break-word;}

/* -------- */
/* Template */
/* -------- */

div.wrap {margin:0 24px;}

a {color:#005c99;}
a:hover {text-decoration:none;}
a:active {text-decoration:underline;}
a:visited {color:#000;}

.inverse a {text-decoration:none;}
.inverse a:hover {text-decoration:underline;}
.inverse a:active {text-decoration:none;}
.inverse a:visited {text-decoration:none;}


div.vpn {border:3px solid grey; background:#eee; margin-top: 24px; padding:8px 12px; font-size:14px; display:flex; justify-content:space-between;}
div.vpn div.ip span {color:#666;}

/* -------- */
/* Elements */
/* -------- */
p {margin-bottom: 18px; }
p.center {text-align:center;}

ul {}
li {margin-bottom:4px;}
ul li ul {margin-top:4px;}

h2.toggle, h3.toggle {cursor:pointer; border-bottom:none;}
h2.toggle.open, h3.toggle.open {border-bottom:1px solid lightgrey;}
h2.toggle::before, h3.toggle::before {content: "\25B6"; padding-right:12px;}
h2.toggle.open::before, h3.toggle.open::before {content: "\25BC";}
/* https://www.w3schools.com/charsets/ref_utf_geometric.asp */
/* https://stackoverflow.com/questions/190396/adding-html-entities-using-css-content#190412 */

section.footnotes {margin-top:56px; font-size:14px; line-height:1.3em; color:#333;}
section.footnotes ol {margin-top:24px;}
section.footnotes ol li p:last-child {margin-bottom:-4px;}

dl {margin-bottom:18px;}
dt {font-weight:bold;}
dd {}

del
ins {text-decoration:none; font-variant:italic;}

sup {line-height:0;} /* don't make footnote numbers space out lines more than normal */

details {margin-bottom:12px; background-color:#f0f0f0}
details.discrete {background-color:#ffffff}
details summary {padding:4px 16px 4px; cursor:pointer;}
details[open] {padding: 0 16px 8px;}
details[open] summary {margin-bottom:20px; margin-left:-16px;}

details details {margin-left:24px; margin-right:24px; background-color:#d0d0d0}

details.code {}
details.code[open] {padding: 0 0 8px;}
details.code pre {margin:0;}
details.code summary {background-color:#444; color:white; font-weight:bold; position:relative;}
details.code[open] summary {margin-bottom:0; margin-left:0;}

details.code summary::before {color:#ccc; padding:4px 12px; position: absolute; top: 0; right:0; font-style: italic; font-weight:normal;font-family:var(--font-sans-mono)}
details.code.ruby[open] summary::before {content:""}

.ajaxtip {border-bottom: 1px dashed #aaa;}

span[data-tooltip], abbr[data-tooltip] {border-bottom: 1px dotted black; cursor:help;}
span.tooltip-bottom {border-bottom: 1px dotted black; cursor:help;}

/* strucutre */
img.block {display: block;}

/* code */
pre, div.pre {overflow-x: auto; background-color:#222; color:#ccc; padding:8px 12px; margin:0 0 24px; position: relative; font-family:var(--font-sans-mono); font-size:16px;}
code {padding:2px; background-color:#ccc; color:#222; font-family:var(--font-sans-mono);}
pre code {padding:0px; background-color:#222; color:#ccc;}

pre.light {background-color:#ccc; color:#222;}
pre.light code {background-color:#ccc; color:#222;}
pre.lightest {background-color:#eee; color:#222;}
pre.lightest code {background-color:#eee; color:#222;}
pre.numbers {background-color:#ccc; color:#222;}
pre.numbers code {background-color:#ccc; color:#222;}
code.numbers {background-color:#ccc; color:#222;}
code.opcode {background-color:#333; color:#fff; border-radius:4px; padding:4px; font-weight: normal; font-style: normal; font-family:UbuntuMono}
code.opcode.red {background-color:darkred; color:#fff; border-radius:4px; padding:4px; font-weight: normal; font-style: normal; font-family:UbuntuMono}

pre.wrap {word-wrap: break-word; white-space:pre-wrap;}
pre.full {margin:0;}

pre::before {color:#ccc; padding:8px 12px 4px 12px; position: absolute; top: 0; right:0; font-style: italic; background-color: #555;}
pre.ruby, pre.php, pre.go, pre.elixir, pre.javascript,
pre.python, pre.nodejs, pre.rust, pre.racket, pre.terminal {font-size:16px; margin-top:12px; padding: 48px 0 12px 12px;}
pre.lua::before {content:'Lua';}
pre.cpp::before {content:'C++';}
pre.bash::before {content:'Bash';}

pre.debug {margin:8px 0px;}

code a {text-decoration:none;}
code a:hover {text-decoration:underline;}
code a:visited {text-decoration:none;}

.bitcoinsrc {background-color:#f6f8fa; color:#333;}
.bitcoinsrc a {color:#0366d6; text-decoration:none;}
.bitcoinsrc a:visited {color:#0366d6;}
.bitcoinsrc a:active {text-decoration:underline;}

code.target {background-color: pink; color: black; border: 3px solid darkred; padding:8px; white-space:nowrap;}
code.privatekey {background-color: white; color: darkred;} /* white-space: nowrap; */
white-space:pre;}
code.publickey {background-color: white; color: teal;} /* #008080 */ /* letter-spacing:-1px; */
code.publickeyhash {background-color: white; color: #006652;} /* was #00a080 */
code.address {background-color:#c2e0ae; border:2px solid #2b511a; }
pre.address {text-align:center; background-color:inherit;}
pre.address code {font-size:16px; padding:8px; font-family:var(--font-mono-bitcoin); background-color:#c2e0ae; border:2px solid #2b511a; color:black;}

code.extendedprivatekey {background-color: white; color: darkred; letter-spacing:-1px;}
code.extendedpublickey {background-color: white; color: teal; letter-spacing:-1px;}
code.chaincode {background-color: #dfcce4; color:black; letter-spacing:-1px;}

code.redeemscript {background-color: #777; color: white; }
code.scripthash {background-color: #555; color: white; }
code.scripthash256 {background-color: #555; color: white; }
code.signature {background-color: #cc0066; color: white; }
code.bytes {background-color: #ccc; color: black; }
code.standardscript {background-color: inherit; color: black; font-family: monospace, monospace;}

code.txid {font-family: "DejaVu Mono", monospace; background-color: #ddd; color: #006399; padding:2px}
code.txid a {color: #006399; }
code.blockhash {background-color: lightgreen; color: #000; padding:2px}
code.blockhash a {color: #000; }

/* form */
input {font-family:monospace; font-size:20px; padding:8px 4px; box-sizing:border-box; max-width:100%;} /*border-box prevents padding causing element to extend past parent */
textarea {font-family:monospace; font-size:20px; padding:8px 4px; box-sizing:border-box;}

/* images */
article img {max-width: 100%;}
article img.title {margin-top:0px;} /* hard-coded */

article figure.title img {display:block; margin:0px auto 12px;}    /* hard-coded */
article figure.center img {display:block; margin:-16px auto 56px;} /* hard-coded */

article figure {margin:48px 0} /* ![]() -- with caption */
article figure img {display:block; margin:0 auto 24px;}
article figure figcaption {margin-bottom:0; margin-top:0; color:gray; text-align: center; font-size:16px;}
article p img {display:block; margin:48px auto;} /* ![]()  -- no caption */

/* notes */
.note {padding:8px; margin:24px 0;}
.note h2:first-of-type, aside h2:first-of-type {border-bottom:none; margin-top:16px;}
.note h3:first-of-type, aside h3:first-of-type {margin-top:16px;}
.note h4:first-of-type, aside h4:first-of-type {margin-top:16px;}

.note.command h4:first-of-type {margin-top:8px;font-size:22px;}
.note.command pre {margin-left:0px; margin-right:0px;}

.note.green {border-color:#060; background-color:#dbffdf;}
.note.blue {border-color:#008b8b; background-color:#e0ffff;}
.note.orange {border-color:#C60; background-color:#fff8ea;}
.note.red {border-color:#C00; background-color:#ffe9e9;}
.note.purple {border-color:#800080; background-color:#FFBFFE;}

.note.definition {border-color: #008b8b; background-color: #e0ffff;}
.note.important {margin-left:24px;padding-left:12px;border:none; background:none; border-left: 6px solid steelblue;font-weight:bold;}
.note.recommendation {border:2px solid #060; background-color:#dbffdf; margin:64px 0 4px; text-align: center;}

dl.definition{border: 1px solid #008b8b; background-color: #e0ffff; padding:8px;}
dl.definition dt {font-weight:bold; font-family: "DejaVu Sans Mono", monospace;}
dl.definition dd {margin-bottom:0;}

/* asides */
aside {padding:8px 16px; margin:16px;}
.aside {background-color: papayawhip; border-left: 8px solid peru;}
.analogy {background-color: honeydew;}
.example {background-color: honeydew;}
.example::before {content: "example"; font-variant:small-caps; font-weight:bold; position: relative; top: 0; left: 0;}
.summary {background-color: #dbffdf;}
.summary::before {content: "summary"; font-variant:small-caps; font-weight:bold; position: relative; top: 0; left: 0;}
.small {font-size:0.8em; color: grey;}

/* target highlighting */
div.note:target {outline: 4px solid yellow; animation: footnote 1.8s ease-in-out 0s forwards;}
@keyframes footnote {
    from {outline-color:yellow; }
    to {outline-color:white; }
}

/* tables */
/*
table {border:1px solid #000;border-spacing:0;border-collapse:collapse; margin:28px auto;}
table caption {padding:8px 10px; border:1px solid #000;border-bottom:none;font-weight:bold;}
table th {padding:8px 10px; border:1px solid #000;font-weight:bold;}
table tr {}
table td {padding:4px 10px;border:1px solid #000;}
table tr.alt {background-color:#EDEDED;}

table.center{margin:auto;}
table td.left{text-align:left;}
table td.center{text-align:center;}
table td.bytes{font-family: var(--font-sans-mono); color:grey; font-size:15px;}
table td.code{font-family: var(--font-sans-mono);}
table td.text {font-size:15px;}
*/

/* pandoc specific */
div.footnotes ol li p {margin-top:4px; margin-bottom:0;}

/* technical */
pre.blkdat span:hover { background-color:#555; padding:3px 0;}

dl.transactiondata {}
dl.transactiondata dt {margin-top:16px; font-family: monospace, monospace; font-size:18px;}
dl.transactiondata dd {margin:4px 0 8px 48px;}
dl.transactiondata dd small {color:grey; margin-left:8px;}

section.technical {display:flex; flex-wrap:wrap; justify-content:center; margin-bottom:48px; font-family:var(--font-lmab);}
section.technical ul.directory {flex-grow:1; color:#666; font-size:22px; line-height:36px;}
section.technical div.diagram {flex-grow:2; text-align:center;}
section.technical div.diagram img {opacity:0.2; transition: opacity 0.33s; display: inline;}
section.technical:hover div.diagram img {opacity:1;}

/* comments */
/* see commento.css */

/* pilfered */

/* https://css-tricks.com/snippets/styles/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  margin: 24px 48px 24px 8px;
  padding: 16px 8px 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 56px;
  margin-right: 8px;
  vertical-align: -12px;
}
blockquote p {
  display: inline;
}

/* Directory - http://www.github.com/pascalculator/directory/ */
.directory {list-style-type:none; margin:16px 0px 16px 16px; padding:0; line-height: 36px;}
.directory ul {list-style-type:none; padding:0; margin-top:0;}
.directory li, [class*=directory-sa-] {padding-left:26px;}
.directory li {margin:0;}
.directory a {text-decoration:none;}
.directory a:hover {text-decoration:underline;}
.directory a:active {text-decoration:none;}
.directory .folder,
.directory-sa-folder
 {background: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Shape_1_copy"><g><path fill="%23B3B4B4" d="M6,1H2C1.4,1,0,1.4,0,2c0,0.6,1.4,1,2,1h4c0.6,0,2-0.4,2-1C8,1.4,6.6,1,6,1z"/></g></g><g id="Shape_2_copy"><g><path fill="%23B3B4B4" d="M14,2H0v11c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C16,2.9,15.1,2,14,2z"/></g></g></svg>') 0px 10px no-repeat;}

.directory .file,
.directory-sa-file
 {background: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Shape_25"><g><path fill="%23B3B4B4" d="M10,4V0H2v16h12V4H10z M3,3h6v1H3V3z M13,14H3v-1h10V14z M13,12H3v-1h10V12z M13,10H3V9h10V10z M13,8H3V7h10V8z M13,6H3V5h10V6z"/></g></g><g id="Shape_26"><g><polygon fill="%23B3B4B4" points="11,3 14,3 11,0"/></g></g></svg>') 0px 10px no-repeat;}

[class*="directory-sa"] {font-family: monospace; background-color:#EEEEEE; border-radius:3px; padding:4px 6px 4px 28px; background-position: 6px;}

/* Toggle */
.showhide-toggle {background-color:#eee; padding:8px; cursor:pointer; margin-top:1em; padding-left:16px; font-size:20px;}
.showhide-toggle:hover {background-color:#e2e2e2;}
.showhide-toggle:active {background-color:#e2e2e2;}
.showhide-toggle:before {content:"▶ "; color:#666;}
.showhide-toggle.active {color:#333;}
.showhide-toggle.active:before {content:"▼ "; color:#666}

h2.showhide-toggle {font-size:20px;}
h2.showhide-toggle:hover {}
h2.showhide-toggle:active {}
h2.showhide-toggle:before {}
h2.showhide-toggle.active {}
h2.showhide-toggle.active:before {}

h3.showhide-toggle {font-size:18px;}
h3.showhide-toggle:hover {}
h3.showhide-toggle:active {}
h3.showhide-toggle:before {}
h3.showhide-toggle.active {}
h3.showhide-toggle.active:before {}

h4.showhide-toggle {font-size:16px;}
h4.showhide-toggle:hover {}
h4.showhide-toggle:active {}
h4.showhide-toggle:before {}
h4.showhide-toggle.active {}
h4.showhide-toggle.active:before {}

@keyframes yellowfade {
    from { background: #eee; }
    to { background: transparent; }
}
div.showhide {margin-top: -22px; padding: 2px 8px; border:1px solid #eee; border-top:none;}
div.showhide.toggled {animation: yellowfade 1s ease-out;}

/* Source */
.sourceCode .fl {float:none;}    /* override tachyons */
.sourceCode .kw {color:#66D9EF;} /* blue    (e.g. def, return, end) */
.sourceCode .st {color:#E6DB74;} /* yellow                          */
.sourceCode .co {color:#888888;} /* grey                            */
.sourceCode .dv {color:#ff82fc;} /* pink     (integers)             */
.sourceCode .dt {color:#FD971F; display:inline;} /* orange (e.g. Digest::SHA256) (NOTE: Override tachyons dt)  */
.sourceCode .bu {color:#A6E22E;} /* green    (e.g. print)           */
                                 /* #F92672 red                     */
	                               /* #c175ff purple                  */

/* Transaction */
pre.serialized {word-wrap:break-word; white-space: pre-wrap; font-family: monospace, monospace; padding:12px;}
pre.serialized span {padding:3px 0;}
pre.serialized span:hover {}
pre.serialized span.version:hover {background-color:none;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.segwit:hover {background-color:none;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.segwit span.marker:hover {background-color:#555;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.segwit span.flag:hover {background-color:#555;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.inputcount:hover {background-color:none;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.input:hover {background-color:#666;}
pre.serialized span.txid:hover {background-color:#ddd; color:#006399; border-bottom:2px solid #999; border-top:2px solid #999;}
pre.serialized span.vout:hover {background-color:#444; border-bottom:2px solid #999; border-top:2px solid #999;}
pre.serialized span.scriptSigsize:hover {background-color:#444; border-bottom:2px solid #999; border-top:2px solid #999;}
pre.serialized span.scriptSig:hover {background-color:#444; border-bottom:2px solid #999; border-top:2px solid #999;}
pre.serialized span.sequence:hover {background-color:#444; border-bottom:2px solid #999; border-top:2px solid #999;}
pre.serialized span.outputcount:hover {background-color:none;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.output:hover { background-color:#c60;}
pre.serialized span.value:hover {background-color:#444;border-bottom:2px solid #C60; border-top:2px solid #C60;}
pre.serialized span.scriptPubKeysize:hover {background-color:#444;border-bottom:2px solid #C60; border-top:2px solid #C60;}
pre.serialized span.scriptPubKey:hover {background-color:#444;border-bottom:2px solid #C60; border-top:2px solid #C60;}
pre.serialized span.witness:hover {background-color:#00ccff; color:#333; border-bottom: solid 2px #eee; border-top:solid 2px #eee;}
pre.serialized span.locktime:hover {background-color:none;border-bottom: solid 2px #eee; border-top:solid 2px #eee;}

/* Script */
table.script {margin:12px auto 8px; empty-cells:hide;}
table.script caption {text-align:left;}
table.script tr#scriptPubKey {border-bottom:1px solid #666;}
table.script th {text-align:left; font-size:14px; width:140px; vertical-align:middle;}
table.script td {font-family: monospace, monospace; font-size:14px; max-width:800px; word-wrap:break-word; padding:12px;}
table.script td.hex {display:none; color:#ccc; background-color: #222; font-size:16px;}
table.script tr:target th {background-color: #FFFFBB; animation: highlight 1s 0.5s forwards;}
@keyframes highlight {
	to {background-color:white; }
}
table.script td.opcodes div.row {display:flex; flex-direction:row;}
table.script td.opcodes div.stack {display:flex; flex-direction:column-reverse;}
table.script td.opcodes div.stack > code {margin-bottom:6px;}
table.script td.opcodes div.stack > code:first-child {margin-bottom:0px;}

table.script td.hasaddress:hover {outline: 4px solid #008f00;} /* background-color: #008f00; */

table.script td.type {border:1px solid white;}
table.script td.nothing {border:1px solid white;}

table.script td code {padding:4px;}
table.script td code.opcode {padding:6px; color:white; background-color:#333; border-radius:6px; font-size:15px;}
table.script td code.opcode.red {background-color:darkred;}
table.script td code.versionbyte {background-color:#ccc; color:black; border:1px solid #999;}
/*
table.script td span.publickey {background-color:teal; color:white}
table.script td span.signature {color:#00498e;}
table.script td span.hash160 {background-color:#add1c4;}
*/

table.script tfoot.switch {border:1px solid white;}
table.script tfoot.switch tr td {border:1px solid white; padding:2px 0 0; font-family:courier, monospace; color:grey; font-size:12px;}
table.script tfoot.switch tr td.stackswitch {text-align:right;}
table.script tfoot.switch span {cursor:pointer;}
table.script tfoot.switch span:hover {text-decoration:underline;}
table.script tfoot.switch .active {text-decoration:underline;}

/* -------- */
/* Tooltips */
/* -------- */
/* default (dark) */
.tpd-skin-dark .tpd-content,
.tpd-skin-dark .tpd-title,
.tpd-skin-dark .tpd-close { color: #fff; }
.tpd-skin-dark .tpd-background-content,
.tpd-skin-dark .tpd-background-title {
  background-color: #282828;
}
.tpd-skin-dark .tpd-background {
  border-width: 1px;
  border-color: #282828;
  border-color: rgba(255,255,255,.1);
}
/* line below the title */
.tpd-skin-dark .tpd-title-wrapper { border-bottom: 1px solid #404040; }
/* spinner */
.tpd-skin-dark .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
/* links */
.tpd-skin-dark a { color: #ccc; }
.tpd-skin-dark a:hover { color: #c0c0c0; }


/* light */
.tpd-skin-light .tpd-content,
.tpd-skin-light .tpd-title,
.tpd-skin-light .tpd-close { color: #333; }
.tpd-skin-light .tpd-background-content {
  background-color: #fff;
}
.tpd-skin-light .tpd-background {
  border-width: 1px;
  border-color: #838383;
  border-color: rgba(0,0,0,.3);
}
.tpd-skin-light .tpd-background-title {
  background-color: #f7f7f7;
}
.tpd-skin-light .tpd-title-wrapper { border-bottom: 1px solid #c0c0c0; }
.tpd-skin-light .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
/* fallback for no/disabled shadow */
.tpd-skin-light.tpd-no-shadow .tpd-background {
  border-color: #acacac;
  border-color: rgba(100,100,100,.3);
}
.tpd-skin-light .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-light a { color: #808080; }
.tpd-skin-light a:hover { color: #6c6c6c; }


/* gray */
.tpd-skin-gray .tpd-content,
.tpd-skin-gray .tpd-title,
.tpd-skin-gray .tpd-close { color: #fff; }
.tpd-skin-gray .tpd-background-content,
.tpd-skin-gray .tpd-background-title {
  background-color: #727272;
}
.tpd-skin-gray .tpd-background {
  border-width: 1px;
  border-color: #727272;
  border-color: rgba(255,255,255,.1);
}
.tpd-skin-gray .tpd-title-wrapper { border-bottom: 1px solid #505050; }
.tpd-skin-gray .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-gray a { color: #ccc; }
.tpd-skin-gray a:hover { color: #b6b6b6; }


/* red */
.tpd-skin-red .tpd-content,
.tpd-skin-red .tpd-title,
.tpd-skin-red .tpd-close { color: #fff; }
.tpd-skin-red .tpd-background-content { background-color: #e13c37; }
.tpd-skin-red .tpd-background {
  border-width: 1px;
  border-color: #a30500;
  border-color: rgba(12,0,0,.6);
}
.tpd-skin-red .tpd-background-title { background-color: #e13c37; }
.tpd-skin-red .tpd-title-wrapper { border-bottom: 1px solid #a30500; }
.tpd-skin-red .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-red .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-red a { color: #ddd; }
.tpd-skin-red a:hover { color: #c6c6c6; }


/* green */
.tpd-skin-green .tpd-content,
.tpd-skin-green .tpd-title,
.tpd-skin-green .tpd-close { color: #fff; }
.tpd-skin-green .tpd-background-content { background-color: #4aab3a; }
.tpd-skin-green .tpd-background {
  border-width: 1px;
  border-color: #127c00;
  border-color: rgba(0,12,0,.6);
}
.tpd-skin-green .tpd-background-title { background-color: #4aab3a; }
.tpd-skin-green .tpd-title-wrapper { border-bottom: 1px solid #127c00; }
.tpd-skin-green .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-green .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-green a { color: #ddd; }
.tpd-skin-green a:hover { color: #c6c6c6; }


/* blue */
.tpd-skin-blue .tpd-content,
.tpd-skin-blue .tpd-title,
.tpd-skin-blue .tpd-close { color: #fff; }
.tpd-skin-blue .tpd-background-content { background-color: #45a3e3; }
.tpd-skin-blue .tpd-background {
  border-width: 1px;
  border-color: #1674b4;
  border-color: rgba(0,0,12,.6);
}
.tpd-skin-blue .tpd-background-title { background-color: #45a3e3; }
.tpd-skin-blue .tpd-title-wrapper { border-bottom: 1px solid #1674b4; }
.tpd-skin-blue .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-blue .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-blue a { color: #ddd; }
.tpd-skin-blue a:hover { color: #c6c6c6; }


/* lightyellow */
.tpd-skin-lightyellow .tpd-content,
.tpd-skin-lightyellow .tpd-title,
.tpd-skin-lightyellow .tpd-close { color: #333; }
.tpd-skin-lightyellow .tpd-background-content { background-color: #ffffa9; }
.tpd-skin-lightyellow .tpd-background {
  border-width: 1px;
  border-color: #9d9c8c;
  border-color: rgba(8,8,0,.35);
}
.tpd-skin-lightyellow .tpd-background-title { background-color: #ffffa9; }
.tpd-skin-lightyellow .tpd-title-wrapper { border-bottom: 1px solid #a7a697; }
.tpd-skin-lightyellow .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-lightyellow .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-lightyellow a { color: #777; }
.tpd-skin-lightyellow a:hover { color: #868686; }


/* lightblue */
.tpd-skin-lightblue .tpd-content,
.tpd-skin-lightblue .tpd-title,
.tpd-skin-lightblue .tpd-close { color: #333; }
.tpd-skin-lightblue .tpd-background-content { background-color: #bce5ff; }
.tpd-skin-lightblue .tpd-background {
  border-width: 1px;
  border-color: #7c868a;
  border-color: rgba(0,0,8,.35);
}
.tpd-skin-lightblue .tpd-background-title { background-color: #bce5ff; }
.tpd-skin-lightblue .tpd-title-wrapper { border-bottom: 1px solid #909b9f; }
.tpd-skin-lightblue .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-lightblue .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-lightblue a { color: #777; }
.tpd-skin-lightblue a:hover { color: #868686; }


/* lightpink */
.tpd-skin-lightpink .tpd-content,
.tpd-skin-lightpink .tpd-title,
.tpd-skin-lightpink .tpd-close { color: #333; }
.tpd-skin-lightpink .tpd-background-content { background-color: #ffc4bf; }
.tpd-skin-lightpink .tpd-background {
  border-width: 1px;
  border-color: #8d817c;
  border-color: rgba(8,0,0,.35);
}
.tpd-skin-lightpink .tpd-background-title { background-color: #ffc4bf; }
.tpd-skin-lightpink .tpd-title-wrapper { border-bottom: 1px solid #a08f8f; }
.tpd-skin-lightpink .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-lightpink .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-lightpink a { color: #777; }
.tpd-skin-lightpink a:hover { color: #868686; }

/* --------------- */
/* LEARNMEABITCOIN */
/* --------------- */

/* title */
.tpd-skin-title .tpd-content,
.tpd-skin-title .tpd-title,
.tpd-skin-title .tpd-close { color: #333; }

.tpd-skin-title .tpd-background-content { background-color: #bce5ff; }
.tpd-skin-title .tpd-background {
  border-width: 1px;
  border-color: #7c868a;
  border-color: rgba(0,0,8,.35);
}
.tpd-skin-title .tpd-background-title { background-color: #bce5ff; }
.tpd-skin-title .tpd-title-wrapper { border-bottom: 1px solid #909b9f; }
.tpd-skin-title .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-title .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-title a { color: black; }
.tpd-skin-title a:hover { color: #868686; }

/* data */
.tpd-skin-data .tpd-content,
.tpd-skin-data .tpd-title,
.tpd-skin-data .tpd-close { color: #fff; font-family:  monospace, monospace; font-size:13px; }
.tpd-skin-data .tpd-background-content,
.tpd-skin-data .tpd-background-title {
  background-color: #282828;
}
.tpd-skin-data .tpd-background {
  border-width: 1px;
  border-color: #282828;
  border-color: rgba(255,255,255,.1);
}
.tpd-skin-data .tpd-title-wrapper { border-bottom: 1px solid #404040; }
.tpd-skin-data .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-data a { color: #ccc; }
.tpd-skin-data a:hover { color: #c0c0c0; }

/* datalight */
.tpd-skin-datalight .tpd-content,
.tpd-skin-datalight .tpd-title,
.tpd-skin-datalight .tpd-close { color: #282828; font-family: monospace; }
.tpd-skin-datalight .tpd-background-content,
.tpd-skin-datalight .tpd-background-title {
  background-color: #ddd;
}
.tpd-skin-datalight .tpd-background {
  border-width: 1px;
  border-color: #ddd;
  border-color: rgba(255,255,255,.1);
}
.tpd-skin-datalight .tpd-title-wrapper { border-bottom: 1px solid #404040; }
.tpd-skin-datalight .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-datalight a { color: #282828; }
.tpd-skin-datalight a:hover { color: #282828; }

/* note */
.tpd-skin-note .tpd-content,
.tpd-skin-note .tpd-title,
.tpd-skin-note .tpd-close { font-size:13px; color: #333; }
.tpd-skin-note .tpd-background-content { background-color: #ffffa9; }
.tpd-skin-note .tpd-background {
  border-width: 1px;
  border-color: #9d9c8c;
  border-color: rgba(8,8,0,.35);
}
.tpd-skin-note .tpd-background-title { background-color: #ffffa9; }
.tpd-skin-note .tpd-title-wrapper { border-bottom: 1px solid #a7a697; }
.tpd-skin-note .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-note .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-note a { color: #777; }
.tpd-skin-note a:hover { color: #868686; }

/* tip */
.tpd-skin-tip .tpd-content,
.tpd-skin-tip .tpd-title,
.tpd-skin-tip .tpd-close { font-size:14px; color: #333; }
.tpd-skin-tip .tpd-background-content { background-color: #eeeeee; }
.tpd-skin-tip .tpd-background {
  border-width: 1px;
  border-color: #9d9c8c;
  border-color: rgba(8,8,0,.35);
}
.tpd-skin-tip .tpd-background-title { background-color: #ffffa9; }
.tpd-skin-tip .tpd-title-wrapper { border-bottom: 1px solid #a7a697; }
.tpd-skin-tip .tpd-background-shadow { box-shadow: 0 0 8px rgba(0,0,0,.15); }
.tpd-skin-tip .tpd-spinner-spin {
  border-color: rgba(51,51,51,.2);
  border-left-color: #333;
}
.tpd-skin-tip a { color: #777; }
.tpd-skin-tip a:hover { color: #868686; }

/* blockhash */
.tpd-skin-blockhash .tpd-content,
.tpd-skin-blockhash .tpd-title,
.tpd-skin-blockhash .tpd-close { color: #000; font-size: 16px; font-family: monospace; }
.tpd-skin-blockhash .tpd-background-content { background-color: lightgreen; }
.tpd-skin-blockhash .tpd-background {
  border-width: 3px;
  border-color: darkgreen;
}
.tpd-skin-blockhash a { color: #ddd; }
.tpd-skin-blockhash a:hover { color: #c6c6c6; }

/* target */
.tpd-skin-target .tpd-content,
.tpd-skin-target .tpd-title,
.tpd-skin-target .tpd-close { color: #000; font-size: 16px; font-family: monospace; }
.tpd-skin-target .tpd-background-content { background-color: pink; }
.tpd-skin-target .tpd-background {
  border-width: 3px;
  border-color: darkred;
  border-radius: 0;
}
.tpd-skin-target a { color: #ddd; }
.tpd-skin-target a:hover { color: #c6c6c6; }

/* address */
.tpd-skin-address .tpd-content,
.tpd-skin-address .tpd-title,
.tpd-skin-address .tpd-close { color: #fff; font-size: 13px; font-family: monospace; font-weight:bold; }
.tpd-skin-address .tpd-background-content { color:#fff; background-color: #008f00; }
.tpd-skin-address .tpd-background {
  border-radius: 0;
}
.tpd-skin-address a { color: #fff; text-decoration:none;}
.tpd-skin-address a:hover { color: #fff; text-decoration:none;}

/* txid */
.tpd-skin-txid .tpd-content,
.tpd-skin-txid .tpd-title,
.tpd-skin-txid .tpd-close { color: #006399; font-size: 13px; font-family: monospace; font-weight:bold; }
.tpd-skin-txid .tpd-background-content { background-color: #ddd; }
.tpd-skin-txid .tpd-background {
  border-radius: 0;
}
.tpd-skin-txid a {text-decoration:none;color: #006399;}
.tpd-skin-txid a:hover {text-decoration:none;color: #006399;}

/* size: big */
.tpd-size-big .tpd-content,
.tpd-size-big .tpd-title {
  font-size: 18px;
}

/* script */
.tpd-skin-script .tpd-content,
.tpd-skin-script .tpd-title,
.tpd-skin-script .tpd-close { color: #fff; font-family:  monospace, monospace; font-size:13px; line-height: 2em;}
.tpd-skin-script .tpd-background-content,
.tpd-skin-script .tpd-background-title {
  background-color: #282828;
}
.tpd-skin-script .tpd-background {
  border-width: 1px;
  border-color: #282828;
  border-color: rgba(255,255,255,.1);
}
.tpd-skin-script .tpd-title-wrapper { border-bottom: 1px solid #404040; }
.tpd-skin-script .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-script a { color: #ccc; }
.tpd-skin-script a:hover { color: #c0c0c0; }

/* btc */
.tpd-skin-btc .tpd-content,
.tpd-skin-btc .tpd-title,
.tpd-skin-btc .tpd-close { color: black; font-family:  monospace, monospace; font-size:16px; }
.tpd-skin-btc .tpd-background-content,
.tpd-skin-btc .tpd-background-title {
  background-color: #ff9900;
}
.tpd-skin-btc .tpd-background {
  border-width: 1px;
  border-color: #282828;
  border-color: rgba(255,255,255,.1);
}
.tpd-skin-btc .tpd-title-wrapper { border-bottom: 1px solid #404040; }
.tpd-skin-btc .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-btc a { color: #ccc; }
.tpd-skin-btc a:hover { color: #c0c0c0; }

/* btc_spent */
.tpd-skin-btc_spent .tpd-content,
.tpd-skin-btc_spent .tpd-title,
.tpd-skin-btc_spent .tpd-close { color: black; font-family:  monospace, monospace; font-size:16px; }
.tpd-skin-btc_spent .tpd-background-content,
.tpd-skin-btc_spent .tpd-background-title {
  background-color: #ccc;
}
.tpd-skin-btc_spent .tpd-background {
  border-width: 1px;
  border-color: #282828;
  border-color: rgba(255,255,255,.1);
}
.tpd-skin-btc_spent .tpd-title-wrapper { border-bottom: 1px solid #404040; }
.tpd-skin-btc_spent .tpd-spinner-spin {
  border-color: rgba(255,255,255,.2);
  border-left-color: #fff;
}
.tpd-skin-btc_spent a { color: #ccc; }
.tpd-skin-btc_spent a:hover { color: #c0c0c0; }

.clOverflow
{
  margin:               -1.000rem 0.000rem 2.000rem 0.000rem;
  padding:               0.000rem 0.000rem 0.000rem 0.000rem;
  overflow-wrap:        normal !important;
  overflow-x:           auto;
  overflow-y:           auto;
  white-space:          pre;
  word-wrap:            break-word !important;
}
